body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.animation-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.portrait-animation {
  width: 100%;
  height: auto;
}
