body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Set the body and html height to the viewport height */
    overflow: hidden; /* Hide the scrollbar and disable scrolling */
}

#scrollVideo {
    position: fixed; /* Fix the video in place */
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover; /* Cover the entire viewport */
}
