body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.animation-container {
  height: 200vh; /* Adjust the height to control the scrolling distance */
}

.portrait-animation {
  width: 100%;
  height: auto;
}
